# for aws-s3
boto3
# for sftp
pysftp
# for monitoring file system events
watchdog
# for recoverable, fault-tolerant, disk-based Q
persist-queue
# for sending notifications, postgres DB driver
psycopg2-binary
